<%- include("header") -%>

<h2>This is the about page</h2>

<p>This social media should helpm you to be somewher you wanted to be all your life ! meet with your idols and your followers... lets go!</p>

<%- include("footer") -%>
